.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.containerCharacterBox {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;

}

.containerCharacterBox:hover {
  box-shadow: 2px 2px 23px 5px rgba(0,0,0,0.53);
  transition: all 0.5s;
}

.textInfo{
  text-align: justify;
  font-size: calc(5px + 2vmin);
  padding: 2vmin;
}
.character-logo {
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.8s;
}

.character-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding : 10px;
}



.character-box:hover .character-logo {
  border-radius: 50%;
  transition: all 0.7s; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/**Media queries pour le format telephone **/
@media screen and (max-width: 600px) {
  .containerCharacterBox {
    width: 70%;
  }
  .character-logo{
    height: 40vmin;
    width: 40vmin;
  }
  .textInfo{
    font-size: 4vmin;
  }
  .nomCharacter{
    font-size: 8vmin;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
Author Of the title effect : Shireen Taj
https://codepen.io/TajShireen/pen/ExLWgGb
**/

:root {
  --background-color: #282c34;
  --text-color: hsl(0, 0%, 100%);
}

.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  min-height: 5vmin;
  font-family: "Oswald", sans-serif;
  font-size: 10vmin;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 5vmin;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, #282c34 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, #282c34 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
